@font-face {
  font-family: "iconfont"; /* Project id 3512222 */
  /* Color fonts */
  src: 
       url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi2fill:before {
  content: "\e724";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-guanbi1:before {
  content: "\e603";
}

.icon-guanbi-copy:before {
  content: "\ee24";
}

.icon-bofangqi-bofang:before {
  content: "\e6a5";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-liwuhuodong:before {
  content: "\e601";
}

.icon-31dingwei:before {
  content: "\e602";
}

.icon-qitianwuliyoutuihuan:before {
  content: "\e63d";
}

.icon-fangxiangyuanjiantou-xiangyou:before {
  content: "\e617";
}

.icon-xiaoxi:before {
  content: "\e63a";
}

.icon-fangxiangxia:before {
  content: "\e6c3";
}

.icon-dingbu:before {
  content: "\e62c";
}

.icon-shoppingcart-copy:before {
  content: "\ee23";
}

.icon-chongzhi:before {
  content: "\e618";
}

.icon-kefu:before {
  content: "\e635";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-shezhi:before {
  content: "\e786";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-bangonglou:before {
  content: "\e609";
}

.icon-zhihuan:before {
  content: "\e62a";
}

.icon-tongdao:before {
  content: "\e60c";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

.icon-shoppingcart:before {
  content: "\eb86";
}

.icon-yinhangka:before {
  content: "\e66f";
}

.icon-xianshishijian:before {
  content: "\ee22";
}

.icon-sousuo:before {
  content: "\e612";
}

